{{#compress}}

<div id="contenedor">
  <div class="pantalla">
    <div class="Aciertos">{{marcador}}</div>
    <h4>Elija la respuesta adecuada</h4>
  </div>
    <div class="Marcador">
      <div class="pregunta">
        Pregunta: {{ pregunta }}
      </div>
    </div>


  <form method="get" action="/juego/answer">
    <div class="btn-group-vertical">

      <button type="submit" class="btn btn-primary btn-lg btn-block" name="opciones" value="opcion1">
          {{opcion1}}
      </button>
      <button type="submit" class="btn btn-success btn-lg btn-block" name="opciones" value="opcion2">
          {{opcion2}}
      </button>
      <button type="submit" class="btn btn-warning btn-lg btn-block" name="opciones" value="opcion3">
          {{opcion3}}
      </button>
      <button type="submit" class="btn btn-danger btn-lg btn-block" name="opciones" value="opcion4">
          {{opcion4}}
      </button>
    </div>
  </form>
</div>
{{/compress}}
