{{#compress}}

  <div id="contenedor">
   <div class="Marcador">Aciertos: </div>
   <div class="pregunta">
    Pregunta: {{ pregunta }}
   </div>
   <p>Elija la respuesta adecuada</p>
   <form method="get" action="/juego/answer">
    <div class="radio">
      <label>
        <input type="radio" name="opciones" id="opciones_1" value="opcion_1" checked>
        {{opcion1}}
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="opciones" id="opciones_2" value="opcion_2">
         {{opcion2}}
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="opciones" id="opciones_3" value="opcion_3">
         {{opcion3}}
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="opciones" id="opciones_4" value="opcion_4">
         {{opcion4}}
      </label>
    </div>
    <input type="submit" value="Enviar">
   </form>
  </div>
{{/compress}}
